@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--main: #2f80ed;
		--background-color: #4f4f4f;
		--bg-second: #828282;
		--bg-third: #e0e0e0;

		--tint-orange: #f8b76b;
		--tint-blue: #8785ff;
		--tint-red: #eb5757;
		--tint-yellow: #f2c94c;
	}
}
